.Layout {
    margin: 2px;
    padding: 5px;
}


/* *********************** 
*   Text Formatting      * 
**************************/

.Fsize-2 {
    font-size: 20px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.res-lineheight {
    line-height: 1;
}

.Res-body > div {
    font-family: "Times New Roman", Times, serif;
}

.pointer {
    cursor: pointer;
}

/* *********************** 
*   Lists and tables     * 
**************************/

.Res-title-li {
    padding: 0px 20px;
}

.Res-table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 5px;
}

/* *********************** 
*         Links          * 
**************************/

a:link {
    font-size: 20px;
    color: #888888;
    transition: all .2s ease-in-out;
}

a:visited {
    color: #888888;
}

a:hover {
    font-size: 25px;
    color:#f2f2f2;
    transform: scale(1.1);
}

/* *********************** 
*        Header          * 
**************************/

.Header {
    width: '100%';
    height: 50px;
    background-image: 
    linear-gradient(
      rgba(15, 15, 15, 0.45), 
      rgba(170, 165, 165, 0.45)
    ),
    url("/static/images/header.bg.png");
    background-repeat: no-repeat;
    background-size: 100% 50px;
}

.Navbar {
    display: flex;
    float: left;
    flex-direction: row;
}

.Navbar > div {
    width: 80px;
    margin: 5px; 
    line-height: 40px;
}

.google, .email {
    display: flex;
    float: right;
    flex-direction: row;
}

.google, .email > div {
    margin-top: 15px;
    margin-right: 15px;
}

/* *********************** 
*         Body           * 
**************************/

.Body {
    flex-direction: column;
    border: 1px solid;
    min-height: 100vh;
    font-size: 14px;
}

.Lemons {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.copywrite-text {
    font-size: 10px
}


/* Resume Page */

.about-container, .Res-container {
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    width: 800px;
    border: 2px solid;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 100vh;
}

.Res-section {
    display: flex;
    flex-direction: column;
}

.Res-divider > p {
    background-color: rgb(196, 194, 194);
    height: 25px;
    width: 100%;
    border: 1px solid black;
}


/* *********************** 
*        Footer          * 
**************************/

.Footer {
    width: '100%';
    height: 100px;
    font-size: 25px;
    color:#f2f2f2;
    background-image: 
    linear-gradient( 
      rgba(170, 165, 165, 0.45),
      rgba(15, 15, 15, 0.45)
    ),
    url("/static/images/header.bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.Footer-nav {
    display: flex;
    float: left;
    flex-direction: row;
}

.Footer-nav > div {
    width: 100px;
    margin: 5px; 
    line-height: 40px;
}
  




