.Layout {
    margin: 2px;
    padding: 5px;
}

body {
    background-color: rgb(202, 202, 202);
    min-height: 100vh;
    font-size: 14px;
}

.Body {
    min-height: 100vh;
    font-size: 14px;
}

.FlexDirection_column {
    flex-direction: column;
}

/* *********************** 
*   Text Formatting      * 
**************************/
.Fsize-1 {
    font-size: 14px;
}

.Fsize-2 {
    font-size: 20px;
}

.Fsize-3 {
    font-size: 25px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.res-lineheight {
    line-height: 1;
}

.Res-body > div {
    font-family: "Times New Roman", Times, serif;
}

.about_text-title {
    color: rgb(1, 1, 78);
}

.pointer {
    cursor: pointer;
}

.Float-left {
    display: flex;
    float: left;
}

.Float-right {
    display: flex;
    float: right;
}

.align-center {
    margin-right: auto;
    margin-left: auto;
}

.Text-shadow {
    text-shadow: 2px 2px 8px rgb(209, 226, 238)
}
/*text-shadow: 2px 2px 8px #FF0000
/* *********************** 
*   Lists and tables     * 
**************************/

.Res-title-li {
    padding: 0px 20px;
}

.Res-table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 5px;
}

.Dropdown-list {
    margin: 0;
    line-height: 40px;
    padding: 0;
    list-style-type: none;
}

.Dropdown-list_item {
    padding: 0 0;  
}

.DandDstat_table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 250px;
}

.DandDstat_table td, th {
    text-align: left;
    padding: 8px;
}

.DandDstat_table td:nth-child(even) {
    color: #888888;
}

/* *********************** 
*         Links          * 
**************************/

.Header a:link, .Footer a:link, .Dropdown {
    font-size: 20px;
    color: #bbb8b8;
    transition: all .2s ease-in-out;
}

.Header a:visited, .Footer a:visited {
    color: #bbb8b8;
}

.Header a:hover, .Footer a:hover, .Dropdown:hover {
    font-size: 25px;
    color: white;
    transform: scale(1.1);
}

.about-container a:link {
    color: navy;
    text-decoration: none;
}

.about-container a:visited {
    color: navy;
}

.about-container a:hover {
    color: rgb(115, 115, 160);
    text-decoration: underline;
}

.Tvpagesearch-bar a:link, .Tvpagesearch-bar a:visited, .Tvpagesearch-bar a:hover {
    color: black;
}
/* *********************** 
*       Images           * 
**************************/

.ImgSize200 {
    width: 200px;
    height: 200px;
}

.about_img {
    display: block;
    object-fit: contain;
    padding: 10px;
    margin-top: 30px;
}

.DnD_Hero {
    display: flex;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    width: 150px;
}

.DnD_Monster {
    display: flex;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
}

/* *********************** 
*    Header and Footer   * 
**************************/

.Header {
    width: 100%;
    height: 50px;
    background-color: black;
    background-image: 
    linear-gradient(
      rgba(15, 15, 15, 0.45), 
      rgba(170, 165, 165, 0.45)
    );
}

.Footer {
    width: 100%;
    height: 100px;
    background-color: black;
    background-image: 
    linear-gradient( 
      rgba(170, 165, 165, 0.45),
      rgba(15, 15, 15, 0.45)
    );
}



.Footer-nav {
    display: flex;
    float: left;
    width: 120px;
    margin: 20px;
    line-height: 40px;
}

.Header > div {
    margin-left: 80px;
    margin-right: 0px;
}

.DropdownMenu {
    position: absolute;
    top: 62px;
    left: 370px;
    z-index: 1;
    min-width: 125px;
    padding: 0 20px;
    overflow: hidden;
    background-color: black;
    background-image:
    linear-gradient( 
      rgba(170, 165, 165, 0.45),
      rgba(15, 15, 15, 0.45)
    );
    border-radius: 5px;
    text-align: center;
}

.Navbar {
    display: flex;
    float: left;
    margin-left: 10px;
    margin-top: 12px;
    min-width: 75px;
}

.google, .email {
    display: flex;
    float: right;
}

.google > div {
    margin-top: 15px;
    margin-right: 15px;
}

.email > div {
    margin-top: 28px;
    margin-right: 15px;
}

.about_nav {
    display: flex;
    margin-top: 5px;
}

.about_nav > div {
    margin: 40px;
    margin-top: 20px;
    line-height: 10px;
    min-width: 50px;
    max-width: 75px;
}

/* *********************** 
*      About Page        * 
**************************/

.about_header {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    background-color: rgb(37, 56, 82);
    box-shadow: 0px 10px  5px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 10px  5px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 10px 5px  rgba(0,0,0,0.6);
	-o-box-shadow: 0px 10px 5px  rgba(0,0,0,0.6);
    width: 823px;
    height: 50px;
    color: rgb(46, 99, 173);
}

.tab-list-item {
    list-style: none;
    text-align: center;
    margin: 5px;
    width: 50%;
    padding: 0.5rem 0.75rem;
}

.tabtransition {
    -webkit-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}
.tab-list-active {
    color: white;
}

.about-container {
    min-height: 100vh;
}

.Res-container {
    background-color: white;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    padding: 10px;
}

.about_section {
    display: flex;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(83, 101, 138);
    color: black;
    font-weight: bold;
}

.about_gradient-left {
    background-image:
    linear-gradient(
        to left, 
      rgba(202, 202, 202),
      rgba(83, 101, 138)
    );
    box-shadow: -10px 0px     5px rgba(0,0,0,0.6);
	-moz-box-shadow: -10px 0px     5px rgba(0,0,0,0.6);
	-webkit-box-shadow: -10px 0px     5px rgba(0,0,0,0.6);
	-o-box-shadow: -10px 0px     5px rgba(0,0,0,0.6);
}

.about_gradient-right {
    background-image:
    linear-gradient(
        to right, 
      rgba(202, 202, 202),
      rgba(83, 101, 138)
    );
    box-shadow: 10px 0px  5px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 0px  5px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 10px 0px  5px  rgba(0,0,0,0.6);
	-o-box-shadow: 10px 0px  5px  rgba(0,0,0,0.6);
}

.about_text {
    display: block;
    margin-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
}

.Res-divider > p {
    background-color: rgb(196, 194, 194);
    height: 25px;
    width: 100%;
    border: 1px solid black;
}

/* *********************** 
*      TvPage Inport        * 
**************************/

.Tvpagesearch-bar {
    margin: 20px;
    text-align: center;
    }
    
.Tvpagesearch-bar input {
width: 50%;
}

.tvbox {
display: flex;
flex-wrap: wrap;
}

.tvbox > div {
    width: 250px;
    padding: 5px;
    text-align: center;
}

.tvbox :hover {
    background-color: rgb(167, 164, 164);
}

/* *********************** 
*      DandD Page        * 
**************************/

.DandD_character {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}

.DandD_character > div {
    width: 48%;
    margin: 10px;
    background-color: #575555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    margin: 10px;  
}

.Hero, .Monster {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.HeroBox, .MonsterBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.HeroBox > div, .MonsterBox > div {
    width: 50%;
    padding: 5px;
}

.Stats-roll {
    height: 80px;  
}

.Attack-container > div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Attack-section {
    position: relative;
    width: 445px;
    height: 300px;
    background-color: #575555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    margin: 10px;
    
}

.Attack-roll {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Attack-result {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 200px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.AC-Icon {
    position: absolute;
    top: 10px;
    left: 22px;
    width: 100px;
    height: 100px;
}

.AC-Icon-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.HitAdj-Icon {
    position: absolute;
    top: 10px;
    right: 22px;  
}

.HitAdj-Icon-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.StatRefresh {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Initiative {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Heroinitiative {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}

.Monsterinitiative {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 100px;
}

.HeroHP-icon {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 50px;
    height: 50px;
}

.HeroHP-text, .MonsterHP-text {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 50px;
}

.MonsterHP-icon {
    position: absolute;
    top: 150px;
    right: 115px;
    width: 50px;
    height: 50px;
}

.DandD_button {
    padding: 5px 20px;
}

/* *********************** 
*        test            * 
**************************/




  
.box {
    -webkit-transition:1s;
}

.box:active{
    margin-left:-120px;
}
 


