.Layout {
    margin: 2px;
    padding: 5px;
}

body {
    min-height: 100vh;
    font-size: 14px;
}

.Body {
    min-height: 100vh;
    font-size: 14px;
}

.FlexDirection-column {
    flex-direction: column;
}

/* *********************** 
*   Text Formatting      * 
**************************/

.Fsize-1 {
    font-size: 14px;
}

.Fsize-2 {
    font-size: 20px;
}

.Fsize-3 {
    font-size: 25px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.inline-block {
    display: inline-block;
}

.res-lineheight {
    line-height: 1;
}

.Res-body > div {
    font-family: "Times New Roman", Times, serif;
}

.about_text-title {
    color: rgb(1, 1, 78);
}

.pointer {
    cursor: pointer;
}

.Float-left {
    display: flex;
    float: left;
}

.Float-right {
    display: flex;
    float: right;
}

.align-center {
    margin-right: auto;
    margin-left: auto;
}

.Text-shadow {
    text-shadow: 2px 2px 8px rgb(209, 226, 238)
}

/* *********************** 
*   Lists and tables     * 
**************************/

.Res-title-li {
    padding: 0px 20px;
}

.Res-table {
    border-collapse: collapse;
    width: 100%;
}



.Dropdown-list {
    margin: 0;
    line-height: 40px;
    padding: 0;
    list-style-type: none;
}

.Dropdown-list_item {
    padding: 0 0;  
}

/* *********************** 
*         Links          * 
**************************/

.Header:link {
    font-size: 20px;
    color: #bbb8b8;
}

.Header:visited {
    color: #bbb8b8;
}

.Header:hover {
    font-size: 20px;
    color: black;
}

.about-container a:link {
    color: navy;
    text-decoration: none;
}

.about-container a:visited {
    color: navy;
}

.about-container a:hover {
    color: rgb(115, 115, 160);
    text-decoration: underline;
}

.Tvpagesearch-bar a:link, .Tvpagesearch-bar a:visited, .Tvpagesearch-bar a:hover {
    color: black;
}
/* *********************** 
*       Images           * 
**************************/

.ImgSize200 {
    width: 200px;
    height: 200px;
}

.about_img {
    display: block;
    object-fit: contain;
    padding: 10px;
    margin-top: 30px;
}

.DnD_Hero {
    display: flex;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    width: 150px;
}

.DnD_Monster {
    display: flex;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
}

/* *********************** 
*    Header and Footer   * 
**************************/


.google, .email {
    display: flex;
    float: right;
}

.google > div {
    margin-top: 15px;
    margin-right: 15px;
}

.email > div {
    margin-top: 28px;
    margin-right: 15px;
}

.about_nav {
    display: flex;
    margin-top: 5px;
}

.about_nav > div {
    margin-top: 20px;
    line-height: 10px;
    min-width: 50px;
    max-width: 75px;
}

/* *********************** 
*      About Page        * 
**************************/

.about_header {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    background-color: rgb(37, 56, 82);
    box-shadow: 0px 10px  5px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 10px  5px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 10px 5px  rgba(0,0,0,0.6);
	-o-box-shadow: 0px 10px 5px  rgba(0,0,0,0.6);
    width: 823px;
    height: 50px;
    color: rgb(46, 99, 173);
}

.tab-list-item {
    list-style: none;
    text-align: center;
    margin: 5px;
    width: 50%;
    padding: 0.5rem 0.75rem;
}

.tabtransition {
    -webkit-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
}
.tab-list-active {
    color: white;
}

.about-container {
    min-height: 100vh;
}

.Res-container {
    background-color: white;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about_section {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(83, 101, 138);
    color: black;
    font-weight: bold;  
}

.about_gradient-left {
    background-image:
    linear-gradient(
        to left, 
      white,
      rgba(83, 101, 138)
    );
    box-shadow: -10px 0px     5px rgba(0,0,0,0.6);
	-moz-box-shadow: -10px 0px     5px rgba(0,0,0,0.6);
	-webkit-box-shadow: -10px 0px     5px rgba(0,0,0,0.6);
	-o-box-shadow: -10px 0px     5px rgba(0,0,0,0.6);
}

.about_gradient-right {
    background-image:
    linear-gradient(
        to right, 
      white,
      rgba(83, 101, 138)
    );
    box-shadow: 10px 0px  5px rgba(0,0,0,0.6);
	-moz-box-shadow: 10px 0px  5px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 10px 0px  5px  rgba(0,0,0,0.6);
	-o-box-shadow: 10px 0px  5px  rgba(0,0,0,0.6);
}

.about_text {
    display: block;
    margin-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
}

/* *********************** 
*      TvPage Inport        * 
**************************/

.Tvpagesearch-bar {
    margin: 20px;
    text-align: center;
    }
    
.Tvpagesearch-bar input {
    width: 50%;
}

.tvbox {
    display: flex;
    flex-wrap: wrap;
}

.tvbox > div {
    width: 275px;
    padding: 5px;
    text-align: center;
}

.tvbox :hover {
    background-color: rgb(211, 206, 206);
    border-radius: 25px;
}

.tvbox-img {
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}


/* *********************** 
*      DandD Page        * 
**************************/

.DandD_character {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 35px; 
}

.DandD_character > div {
    width: 45%;
    margin: 10px;
    background-color: #575555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}

.Hero, .Monster {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.HeroBox, .MonsterBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    
}

.HeroBox > div, .MonsterBox > div {
    width: 50%;
    padding: 5px;
}

.Stats-roll {
    height: 80px;  
}

.Attack-container > div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.Attack-section {
    position: relative;
    width: 30%;
    height: 300px;
    background-color: #575555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    margin: 22px;
}

.Attack-roll {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Attack-result {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 200px;
    height: 50px;
    transform: translate(-50%, -50%);
}

.AC-Icon {
    position: absolute;
    top: 10px;
    left: 22px;
    width: 100px;
    height: 100px;
}

.AC-Icon-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.HitAdj-Icon {
    position: absolute;
    top: 10px;
    right: 22px;  
}

.HitAdj-Icon-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.StatRefresh {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Initiative {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Heroinitiative {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}

.Monsterinitiative {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 100px;
}

.HeroHP-icon {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 50px;
    height: 50px;
}

.HeroHP-text, .MonsterHP-text {
    position: absolute;
    top: 60px;
    left: 50px;
    width: 50px;
}

.MonsterHP-icon {
    position: absolute;
    top: 150px;
    right: 115px;
    width: 50px;
    height: 50px;
}

.DandD_button {
    padding: 5px 20px;
}

.DandDstat_table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 300px;
}

.DandDstat_table td, th {
    text-align: left;
    padding: 8px;
}

.DandDstat_table td:nth-child(even) {
    color: #888888;
}

/* *********************** 
*      DandD Page        * 
**************************/


.Provider-info {
    display: flex;
    flex-wrap: nowrap;
  }
  
.Provider-info > div {
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    text-align: center;
    width: 50%;
}

.Provider-info-table {
    font-size: 16px;
    margin: 1px;
}

.Prvider-info-table, td, th {
    text-align: center;
    width: 300px;
}

.Provider-containter > div {
    height: 800px;
}
 
.Provider-table {
    font-family: arial, sans-serif;
    width: 100%;
    height: 800px;
    margin-bottom: 20px;
    background-color: white;
    
}

.Provider-table th {
    background-color: grey;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.Provider-table td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    width: 40px;
}

.Provider-table tr:nth-child(even) {
    background-color: #dddddd;
}

/* *********************** 
*        test            * 
**************************/

.pizza {
    display: block;
}

.customLink:link, .customLink:hover, .customLink:visited {
    color: red;
    text-decoration: none;
  }

  .testwidth {
      height: 90px;
  }